<section class="w-3/4 md:w-1/2 bg-gray-100 shadow-lg rounded-lg mx-auto p-5 mb-10 mt-6">
    <h1 class="text-center sp text-3xl font-bold italic my-4">
        {{ 'login.title' | translate }}
    </h1>

    <form [formGroup]="loginForm" (ngSubmit)="submitForm()">
        <div class="mb-6">
            <label for="uEmail" class="block mb-2 text-md font-medium text-green-600">
                {{ 'login.emailLabel' | translate }}
            </label>
            <input type="email" id="uEmail" formControlName="email"
                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-gray-500 focus:border-gray-500 block w-full p-2.5">
            <app-form-alert [control]="loginForm.get('email')" [messages]="{
        required: ('login.emailRequired' | translate),
        email: ('login.emailInvalid' | translate)
      }"></app-form-alert>
        </div>

        <div class="mb-6">
            <label for="uPass" class="block mb-2 text-md font-medium text-green-600">
                {{ 'login.passwordLabel' | translate }}
            </label>
            <input type="password" id="uPass" formControlName="password"
                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-gray-500 focus:border-gray-500 block w-full p-2.5">
            <app-form-alert [control]="loginForm.get('password')" [messages]="{
        required: ('login.passwordRequired' | translate),
        pattern: ('login.passwordPattern' | translate)
      }"></app-form-alert>
        </div>

        @if (erorrmsg) {
        <p
            class="text-center p-4 mb-4 mt-2 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400">
            {{ erorrmsg }}
        </p>
        }

        @if (successmsg) {
        <p
            class="text-center p-4 mb-4 mt-2 text-sm text-green-800 rounded-lg bg-green-200 dark:bg-gray-800 dark:text-green-400">
            {{ successmsg }}
        </p>
        }

        <div class="flex flex-col items-center gap-3">
            <button [disabled]="isLoading"
                class="bg-green-500 text-white hover:bg-green-700 py-2 px-4 rounded-lg cursor-pointer transition text-left block disabled:bg-green-400 disabled:cursor-default">
                {{ 'login.loginButton' | translate }}
                @if (isLoading) {
                <i class="fa-solid fa-spin fa-spinner"></i>
                }
            </button>

            <a class="text-gray-900 hover:text-blue-800 transition" routerLink="/forgotPass">
                {{ 'login.forgotPassword' | translate }}
            </a>
            <a class="text-gray-900 hover:text-blue-800 transition" routerLink="/register">
                {{ 'login.notHaveAcc' | translate }}
            </a>
        </div>
    </form>
</section>